[core]
        hooksPath = /usr/local/dd/global_hooks
[user]
        # The name you want to appear as the author of your commits
        name = Rachel Duquette
        # The e-mail address that is associated to the author of your commits
        email = rachel.duquette@datadoghq.com
        # This is an ssh key that can be used to sign your commits, it should
        # be made available to your workspace via ssh agent forwarding and can be
        # seen on your laptop by issuing `git config --global user.signingkey`
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL+zCNGUBlvta2SB11Qv7LRooQRahXCn6tUtaJaU+aJp
[commit]
        gpgsign = true
[gpg]
        format = ssh
[dd-gitsign]
        username = reduquette
[url "git@github.com:"]
	insteadOf = https://github.com/
