[core]
        hooksPath = /usr/local/dd/global_hooks
        excludesFile = ~/.config/git/ignore
[user]
        name = Rachel Duquette
        email = rachel.duquette@datadoghq.com
        signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL+zCNGUBlvta2SB11Qv7LRooQRahXCn6tUtaJaU+aJp
[commit]
        gpgsign = true
[gpg]
        format = ssh
[gpg "ssh"]
        program = dd-gitsign
[dd-gitsign]
        username = reduquette
[alias]
        gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	aliases = "!git config -l | grep alias | cut -c 7-"
[push]
	autoSetupRemote = true
[rebase]
	autostash = true
[init]
	defaultBranch = main
[help]
	autocorrect = prompt
[rerere]
	enabled = true
[fetch]
	prune = true
[branch]
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
[url "git@github.com:"]
	insteadOf = https://github.com/
